{% extends "index.twig" %}

{% block title %}Tvorba webstránok, programovanie, grafika, it novinky, recenzie{% endblock %}

{% block content %}
<div class="row">
    Clanky:
    {% for Article in Articles %}
        <a href="{{ Url.get("clanok", {"slug": Article.name}) }}">{{ Article.name }}</a>
    {% endfor %}
</div>
{% endblock %}

{#
{% block sidebar %}
    <div class="list-group">
        <a class="list-group-item active">Flash News</a>
        {% for flash_new in flash_news %}
            {{ flash_new.name }}
            {{ flash_new.content }}
        {% endfor %}
    </div>
{% endblock %}
#}
