<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Prihlásiť sa</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            Twitter+github+facebook
          </div>
          <div class="col-md-6">
                    <form action="" method="post" id="login">
                      <div class="form-group">
                        <input placeholder="Emailová adresa" required="" class="form-control" name="user_email" type="email">
                      </div>
                      <div class="form-group">
                        <input placeholder="Heslo" required="" class="form-control" name="user_password" type="password">
                      </div>
                      <input name="user_rand" value="123456" type="hidden">
                      <input class="btn btn-success" value="Prihlásiť sa" type="submit" id="gologin">
                      <a href="" class="forgotpass pull-right">Zabudnuté heslo?</a>
                    </form>
          </div>
        </div>
        <div id="loginerrors" class="text-center" style="padding:20px;font-weight:300;">test</div>
      </div>
      <div class="modal-footer">
        Ešte nemáte účet? <a  href="#register" data-dismiss="modal" data-toggle="modal" data-target="#registermodal">Vytvorte si ho.</a>
      </div>
    </div>
  </div>
</div>
