<div class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div class="col-md-5 nopadding">
            <div class="regimg"></div>
          </div>
          <div class="col-md-7">
                    <form action="" method="post" id="register">
                      <div class="row form-group">
                        <div class="col-xs-6">
                          <input type="first_name" class="form-control" placeholder="Meno">
                        </div>
                        <div class="col-xs-6">
                          <input type="last_name" class="form-control" placeholder="Priezvisko">
                        </div>
                      </div>
                      <div class="form-group">
                        <input placeholder="Užívateľské meno" required="" class="form-control" name="user_username" type="email">
                      </div>
                      <div class="form-group">
                        <input placeholder="Emailová adresa" required="" class="form-control" name="user_email" type="email">
                      </div>
                      <div class="form-group">
                        <input placeholder="Heslo" required="" class="form-control" name="user_password" type="password">
                      </div>
                      <input class="btn btn-success" value="Pokračovať" type="submit" id="goregister">
                    </form>


                    <div class="menu text-center">
                      <a href=""></a>
                      <a href="" class="active"></a>
                      <a href=""></a>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
