<div class="ui small modal register">
  <i class="close icon"></i>

  <div class="content">

    <div class="ui grid">

        <div class="six wide column center aligned backgroundside">

            <h2 class="ui center aligned icon header">
              <i class="circular teal add user icon"></i>
              Registrácia nového účtu
            </h2>

            <div class="description">
                <p>
                Zdieľaj svoje názory, skúsenosti, prezentuj svoje práce, svoj talent, získaj úprimnú kritiku. Otvor si nové obzory a spoznaj nových ľudí, možno nájdeš partnerov, klientov, zamestnancov.
                </p>
            </div>

        </div>

        <div class="ten wide column">

            <form id="ajax-register" action="" method="post">
            <div class="ui form">

                  <div class="center aligned" id="error-register"></div>


                <div class="field">
                <div class="ui left icon input">
                    <input placeholder="Uživateľské meno" name="username" type="text">
                    <i class="mail icon"></i>
                </div>
                </div>

                <div class="field">
                <div class="two fields">
                  <div class="field ui left icon input">
                    <i class="user icon"></i>
                    <input placeholder="Meno" name="firstname" type="text">
                  </div>
                  <div class="field ui left icon input">
                    <i class="user icon"></i>
                    <input placeholder="Priezvisko" name="lastname" type="text">
                  </div>
                </div>
                </div>

                <div class="field">
                <div class="ui left icon input">
                  <input placeholder="E-mail" name="email" type="email">
                  <i class="mail icon"></i>
                </div>
                </div>

                <div class="field">
                <div class="two fields">
                  <div class="field ui left icon input">
                    <i class="lock icon"></i>
                    <input placeholder="Heslo" name="password" type="password">
                  </div>
                  <div class="field ui left icon input">
                    <i class="lock icon"></i>
                    <input placeholder="Heslo znova" name="passwordrepeat" type="password">
                  </div>
                </div>
                </div>

                <div class="field">
                  <div class="ui checkbox">
                    <input class="hidden" tabindex="0" type="checkbox">
                    <label>Súhlasím z pravidlami a podmienkami webstráky desart.sk</label>
                  </div>
                </div>

                <br><br>
                <button class="ui teal submit button right floated" type="submit"><i class="icon sign in"></i> Registrovať sa</button>

          </div>
          </form>

        </div>

    </div>


    </div>

</div>
