<div class="ui small modal register" style="max-width:320px;margin: 0px 0px 0px -160px">
  <i class="close icon"></i>

  <div class="ui one column center aligned very relaxed grid" style="padding:20px">

    <div class="center aligned column">
      <div class="header">
        Registrovať
      </div>
      <div class="description">
        <p>Po registrácií budete môct prispievať, komentovať, recenzovať.</p>
      </div>
    </div>

    <div class="center aligned column" id="error-register"></div>

    <div class="column">
      <form id="ajax-register" action="" method="post">
          <div class="ui form">
            <div class="field">
              <div class="ui small inverted left icon input">
                <input placeholder="E-mail" name="email" type="email">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui small inverted left icon input">
                <input placeholder="Heslo" name="password" type="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <button class="ui tiny grey submit button right floated" type="submit"><i class="icon sign in"></i> Registrovať sa</button>
          </div>
      </form>
    </div>
  </div>

</div>
