<div class="ui modal resetpass" style="max-width:320px;margin: 0px 0px 0px -160px">
  <i class="close icon"></i>

  <div class="content">

      <form id="ajax-resetpass" action="" method="post">
      <div class="ui form">

    <div class="ui column center aligned very relaxed grid">

      <div class="sixteen wide column center aligned">
        <div class="header">
          Zabudnuté heslo
        </div>
        <div class="description">
          <p>Na email Vám odošleme inštrukcie na obnovu hesla.</p>
        </div>
      </div>

    </div>

      <div class="center aligned" id="error-resetpass"></div>

    <div class="ui column center aligned very relaxed stackable grid">

        <div class="column">

          <div class="field">
            <div class="ui left icon input">
              <input placeholder="E-mail" name="email" type="email">
              <i class="user icon"></i>
            </div>
          </div>

          <a class="ui tiny basic button left floated show-login">Späť na prihlásenie</a>
          <button class="ui tiny grey submit button right floated" type="submit"><i class="icon refresh"></i> Obnoviť heslo</button>

        </div>

    </div>

    </div>
    </form>

  </div>

</div>
