{% extends "index.twig" %}

{% block title %}{{ user.username }}{% endblock %}

{% block subhead %}
  <div class="container">
    <div class="subheadtitle">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 visible-md visible-lg">
          <img src="{{ avatar(user.id) }}" class="img-circle" style="max-width:100px;">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
          <div class="title">{{ user.username }}</div>
          <div class="desc">http://icrazy.eu</div>
        </div>
      </div>
    </div>
  </div>

  <div class="submenu">
    <div class="container">
      <ul class="nav nav-pills pull-left">
        <li><a><i class="fa fa-calendar"></i> Uživateľ od <strong>1.1. 2014</strong></a></li>
        <li><a><i class="fa fa-user"></i> Redaktor</a></li>
      </ul>
      <ul class="nav nav-pills pull-right">
        <li><a>Rank: Spammer</a></i>
        <li ><a><i class="fa fa-star"></i> <strong>5659</strong> bodov skúseností</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}{% endblock %}
