{% extends "index.twig" %}


{% block title %}Nastavenia: {{ Profile.username }}{% endblock %}

{% block content %}

<div class="container container-padded">

  <form class="ui form" method="post" action="">

  <div class="ui grid stackable">
    <div class="four wide column">

      <div class="ui fluid teal secondary vertical menu">
        <a class="item active">
          Nastavenia
        </a>
        <a class="item">
          Kontaktné informácie
        </a>
        <a class="item">
          Nastavenia profilu
        </a>
        <a class="item">
          Notifikácie
        </a>
        <a class="item">
          Zmazať účet
        </a>
      </div>

      <button type="submit" class="ui teal button fluid">Uložiť nastavenia</button>

    </div>
    <div class="twelve wide column">

      <h4 class="ui dividing header" style="padding:15px 0">Základné informácie</h4>
      <div class="field">
        <div class="two fields">
          <div class="field">
            <input name="firstname" placeholder="Meno" type="text">
          </div>
          <div class="field">
            <input name="lastname" placeholder="Priezvisko" type="text">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Billing Address</label>
        <div class="fields">
          <div class="twelve wide field">
            <input name="shipping[address]" placeholder="Street Address" type="text">
          </div>
          <div class="four wide field">
            <input name="shipping[address-2]" placeholder="Apt #" type="text">
          </div>
        </div>
      </div>

    </div>

  </div>

  </form>

</div>

{% endblock %}
